<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>

<head>
    <title>Информация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<header>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            </div>
            <div class="text-end">
                <a type="button" class="btn btn-outline-primary" href="/">Выйти</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
        </div>
        <div class="rounded shadow-sm col-md-8 bg-light" style="margin-left:30px">
            <div class="alert alert-warning">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="/pict/bootstrap-icons.svg#pencil-square" />
                </svg>
                <i style="text-indent:20px">Редактирование записи</i>
            </div>
            <div th:if="${notExist != null}" class="alert alert-warning">
                Такого запроса не существует!
                <button type="button"
                        class="btn btn-outline-primary btn-sm"
                        style="float:right"
                        onclick="window.history.back();">Вернуться назад
                </button>
            </div>
            <p CLASS="alert alert-danger" th:if="${noAccess=='toService'}">У данной роли нет доступа к этому сервису!</p>
            <form th:if="${currentUserId == request.userId}"
                  th:action="'/edit/' + ${request.reqId}"
                  class="mt-3" method="post">
                <div>
                    <label for="service" class="form-label">Выберите сервис</label>
                    <select class="form-select" id="service" name="serviceId" required="">
                        <option th:each="el5 : ${allservices}"
                                th:selected="${el5.serviceId == request.serviceId}"
                                th:text="${el5.context}"
                                th:value="${el5.serviceId}" />
                    </select>
                    <div class="invalid-feedback">
                        Неверное значение!
                    </div>
                </div>
                <div class="mt-3">
                    <label for="role" class="form-label">Выберите роль из доступных</label>
                    <select class="form-select" id="role" name="roleId" required="">
                        <option th:each="el6 : ${allroles}"
                                th:text="${el6.role}"
                                th:value="${el6.roleId}"
                                th:selected="${el6.roleId == request.roleId}" />
                    </select>
                    <div class="invalid-feedback">
                        Неверное значение!
                    </div>
                </div>
                <textarea class="form-control mt-3"
                          name="requestComment"
                          maxlength="1000" rows="4"
                          placeholder="Комментарий, если нужно..."
                          th:text="${request.coment}">
                </textarea>
                <div class="mt-3" style="float:right">
                    <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
                </div>
            </form>
            <div th:if="${currentUserId != request.userId}" class="alert alert-danger">
                Вам сюда нельзя!!!
                <button type="button"
                        class="btn btn-outline-primary btn-sm"
                        style="float:right"
                        onclick="window.history.back();">Вернуться назад
                </button>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>

<script src="/js/custom.js"></script>