<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />

<head>
    <title>Просмотр запрошенного сервиса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="row mt-5">
        <div class="rounded shadow-sm col-md10 bg-light" style="margin-left:30px">
            <div class="alert alert-dark">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="/pict/bootstrap-icons.svg#eye" />
                </svg>
                <i style="text-indent:20px">Просмотр запрошенной информации</i>
                <button type="button"
                        class="btn btn-outline-primary btn-sm"
                        style="float:right"
                        onclick="window.history.back();">Вернуться назад
                </button>
            </div>
            <Center><h3 th:text="${service.context}" /></center>
            <p th:text="${service.body}" />
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>